.homepage {
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  z-index: -1;
  .color-body {
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-10deg);
    left: -80%;
    top: -50%;
    background-color: #ffb400;
    z-index: 0;
  }
  .profile {
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 40px;
    .image {
      height: 100%;
      border-radius: 30px;
    }
    .overview {
      margin: 10% 12% 10% 12%;
      .overview-heading {
        font-size: 51px;
        font-weight: 700;
        .name {
          color: #ffb400;
          .dash {
            color: #ffb400;
          }
        }
        .job-role {
          color: #ffffff;
        }
      }
      .job-overview {
        color: #ffffff;
        line-height: 35px;
        margin: 4% 0% 5% 0%;
      }
      .more-about {
        .about-button {
          background-color: #111111;
          border-radius: 50px;
          border: 1px solid #ffb400;
          text-decoration: none;
          position: relative;
          overflow: hidden;
          transition: color 0.5s ease, background-color 0.5s ease;
          .about-text {
            color: #ffffff;
            font-weight: 500;
            margin-left: 30px;
          }
          .right-arrow {
            color: #ffffff;
            border-color: #ffb400;
            margin-left: 33px;
            padding: 15px 0px 15px 0px;
            background-color: #ffb400;
            width: 54px;
            border-radius: 50%;
          }
        }
        .about-button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, transparent, transparent 100%);
            transform: translateX(-100%);
            transition: transform 0.5s ease;
          }
          
          .about-button:hover {
            color: #3498db;
            background-color: #ffb400;
          }
          
          .about-button:hover::before {
            transform: translateX(0);
          }
          
          .about-button:active {
            transform: scale(0.95);
          }
      }
    }
  }
}
.img-40 {
  height: 100%;
  width: auto;
  border-radius: 30px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
